.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Upload-loading {
  opacity: 0.5;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 12px;
}

button {
  margin-left: 20px;
}

label {
  margin-right: 20px;
}

button, label {
  cursor: pointer;
  background: none;
  border: none;
}